.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1a1a;
  color: white;
  padding: 1rem 2rem;
  position: relative;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: orange;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navbar-links a:hover {
  color: darkgreen;
}

/* Burger menu icon */
.navbar-toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.navbar-toggle span {
  width: 25px;
  height: 3px;
  background: white;
  border-radius: 2px;
}

.logout-btn, .join-btn {
  background: none;
  border: none;
  color: orange;
  cursor: pointer;
  font-weight: bold;
}

.logout-btn:hover, .join-btn:hover {
  color: darkgreen;
}

.navbar-user {
  color: #aaa;
  font-style: italic;
  margin-left: 1rem;
}


/* Responsive Nav */
@media (max-width: 768px) {
  .navbar-toggle {
    display: flex;
  }

  .navbar-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #1a1a1a;
    flex-direction: column;
    width: 100%;
    padding: 1rem 2rem;
    display: none;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-links li {
    margin: 0.8rem 0;
    text-align: right;
  }
}
